<?xml version="1.0" encoding="utf-8"?>
<handlers>
    <handler response="responses/foo_response.xml">
        <matcher type="equals" name="request.method" value="foo" />
    </handler>
    <handler response="responses/bar_response.xml">
        <matcher type="equals" name="request.method" value="POST" />
    </handler>
    <handler url="http://onet.pl">
        <matcher type="equals" name="request.method" value="GET" />
    </handler>
</handlers>
